<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar ponto de Interesse</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <h1>Criar ponto de interesse</h1>
    <%# "/api/interest"-> rota de criação de novo registo %>
    <form action="/api/interest" method="post">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="details" name="details">
        <input type="text" placeholder="longitude" name="lng">
        <input type="text" placeholder="latitude" name="lat">
        <button type="submit">Submit</button>
    </form>
</body>
</html>