<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Pontos de Interesse</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <h2>Lista de Pontos de Interesse</h2>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Detalhes</td>
                <td>Status</td>
                <!-- <td>Ações</td> -->
            </tr>
        </thead>
        <tbody>
            <% pis.forEach(function(data){ %> 
                <tr>
                    <td><%= data.name %></td>
                    <td><%= data.details %></td>
                    <td><%= data.status %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <button><a href="/">Voltar</a></button>
</body>
</html>